<!DOCTYPE html>
<!-- INJECTS IE CLASSES ONTO HTML TAG -->
<!--[if IE 8 ]>    <html class="IE8"> <![endif]-->
<!--[if IE 9 ]>    <html class="IE9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
	<head>
		<title>Crossword Creator</title>
		<meta charset="utf-8" />

		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="creator.css">
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto+Slab:400,300|Delius+Unicase' rel='stylesheet' type='text/css'>

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="/js/materia.creatorcore.js"></script>

		<!-- YOUR PREREQUISITES -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.3/angular.min.js"></script>
		<script src="creator.puzzle.js"></script>
		<script src="print.js"></script>

		<!-- MAIN CREATOR SCRIPT -->
		<script src="creator.js"></script>
	</head>
	<body ng-cloak ng-controller='crosswordCreatorCtrl'>
		<div id='header'>
			<div class='logo'></div>
			<h1 id='title' ng-bind='widget.title'></h1>
			<div class='link' ng-click='changeTitle()'>Edit...</div>
		</div>
		<section>
			<div class='table'>
				<div class='arrow_box' ng-show='step && !widget.puzzleItems.length'>
					Add your first word
				</div>
				<table cellspacing=0 cellpadding=0>
					<tr class='bold'>
						<td>Puzzle Word</td>
						<td>Clue</td>
						<td class='hint'>Hint (Optional)</td>
						<td class='last'><div class='dot'></div></td>
					</tr>
					<tr class='question' ng-repeat='item in widget.puzzleItems'>
						<td>
							<textarea class='unicase' ng-focus='startTimer()' ng-model='item.answer' ng-change='noLongerFresh()' ng-blur='generateNewPuzzle()'>{{item.answer}}</textarea>
						</td>
						<td>
							<textarea ng-model='item.question'>{{item.question}}</textarea>
						</td>
						<td class='hint'>
							<textarea ng-model='item.hint'>{{item.hint}}</textarea>
						</td>
						<td class='last'>
							<span class='icon-close' ng-click='removePuzzleItem($index)'></span>
						</td>
					</tr>
				</table>
			</div>
			<div class='add' ng-click='addPuzzleItem()'>
				<div class='icon-plus'></div>
				Add Word
			</div>
			<div class='rightcontent'>
				<div class='controls'>
					<div class='control'>
						<h2>Options</h2>
						<span class='link' ng-click='showOptions()'>Edit options...</span>
					</div>
					
					<div class='control'>
						<h2>Hint penalty</h2>
						<b>-</b><span class='number' ng-bind='widget.hintPenalty'></span>%
					</div>

					<div class='control'>
						<h2>Free words</h2>
						<span class='number' ng-bind='widget.freeWords'></span>
					</div>

					<div class='question_tip'>
						?
						<div class='qtip_box'>
							<p>
								Students can ask for a hint (if one is provided) but
								using one will reduce that word's score by the <b>Hint penalty</b>
								percentage you specify.
							</p>
							<p>
								Alternatively students can get a word revealed for free if they're
								stuck by using a <b>Free word</b>. Specify the number of Free words available.
							</p>
						</div>
					</div>
				</div>
				<hr>
				<div class='puzzleintro' ng-hide='widget.puzzleItems.length'>
					Add words to build a puzzle
				</div>
				<div class='previewarea' ng-show='widget.puzzleItems.length' ng-click='generateNewPuzzle(true, true)' ng-class=' { toobig: tooBig, stationary: !isBuilding } '>
					<div id='preview'>
						<div class='right'></div>
						<div id='preview_kids'></div>
						<div class='loading'>
							BUILDING
							<div class='loading_anim a1'></div>
							<div class='loading_anim a2'></div>
							<div class='loading_anim a3'></div>
						</div>
					</div>
				</div>
				<div class='icon-print' id='printbtn' title='Print'></div>
			</div>
		</section>

		<div id='backgroundcover'></div>
		<div class='box intro'>
			<img src='assets/creator_example.png'>
			<h1>Crossword</h1>
			<p>Enter <b>words</b> to build a puzzle.</p>
			<p>Addd <b>clues &amp; hints</b> to help students guess the words.</p>
			<p>Set <b>options</b> that define how hints and free words impact the score.</p>
			<hr>
			<b>Start by giving your Crossword widget a title</b><br>
			<form ng-submit='introComplete()'>
				<input type='text' placeholder='My Crossword widget' autofocus='1'>
				<input type='submit' value='Get Started'>
			</form>
		</div>
		<div class='box title'>
			<b>Give your Crossword widget a title</b><br>
			<form ng-submit='hideCover()'>
				<input type='text' placeholder='My Crossword widget' ng-model='widget.title'>
				<input type='submit' value='Done'>
			</form>
		</div>
		<div class='box options'>
			<h2>Options</h2>
			
			<strong>Hint penalty</strong>
			-<input type='text' max='100' min='0' ng-model='widget.hintPenalty' value='{{widget.hintPenalty}}'>%
			<p>
				Students can ask for a hint (if one is provided) but
				using one will reduce that word's score by the <b>Hint penalty </b>
				percentage you specify.
			</p>
			<br>

			<strong>Free words</strong>
			<input type='text' min='0' ng-model='widget.freeWords' value='{{widget.freeWords}}'>

			<p>
				Students can get a word revealed for free if they're
				stuck by using a <b>Free word</b>. Specify the number of Free words available.
			</p>

			<input type='button' value='Close'>
		</div>

		<!-- INITIALIZE -->
		<script type="text/javascript">
			angular.bootstrap(document, ['crosswordCreator']);
			Materia.CreatorCore.start(Crossword.Creator);
		</script>
	</body>
</html>
