$green: #70bd34;
$green_transparent: #6fbd34be;

// used for displaying max puzzle size
$error_bound_w: 35;
$error_bound_h: 45;
$warn_bound_w: 25;
$warn_bound_h: 30;
$tile_w: 28px;
$tile_h: 26px;

* {
	user-select: none;
}
input, textarea {
	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

html, body, div {
	margin: 0;
	padding: 0;
}

html {
	min-height: 100%;
}

body {
	background: #fff;
	color: #333;
	font-family: 'Lato', sans-serif;
	padding-top: 66px;
}

#header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 40px;
	background: #333;
	padding: 13px 8px;
	z-index: 100;

	.logo {
		display: block;
		background: url(assets/materia-logo.svg) no-repeat;
		width: 60px;
		height: 50px;
		float: left;
		margin-left: 17px;
		margin-top: 2px;
	}

	h1 {
		margin-left: 8px;
		font-family: 'Roboto Slab', serif;
		font-weight: 300;
		font-size: 24px !important;
		vertical-align: middle;
		margin-top: 3px;
		float: left;
		cursor: pointer;
		max-width: 800px;
		white-space: nowrap;
		overflow: hidden;
	}
	div.link {
		float: left;
		cursor: pointer;
		margin: 5px;
		margin-top: 5px;
		padding: 10px;
		display: inline-block;
		vertical-align: baseline;
		z-index: 99;
		font-size: 12px;
		color: #ccc;
		text-decoration: underline;
	}
}

.content-table {
	position: relative;
	width: calc(100% - 650px);


	table {
		width: 100%;
		th {
			font-weight: 700;
			font-size: 16px;
			cursor:default;
		}
		td, th {
			padding: 12px;
			font-size: 14px;
			border-left: 1px solid #eee;
			border-bottom: 1px solid #eee;
			width: 32%;
			&.count {
				padding: 0px 15px;
			}
			&.hint {
				width: 26%;
			}
			&.last {
				width: 10%;
				.dot {
					padding: 3px;
					border-radius: 10px;
					margin: auto;
					display: inline-block;
					position: relative;
					background: #ccc;
				}
			}
			&.editable:hover
			{
				outline: #008000 solid 2px;
			}
		}

		.question {
			&.unused {
				background: #fcd9dc;

				textarea {
					background: inherit;
				}

				textarea.unicase {
					color: #f4434f;
				}
			}
			textarea {
				font-size: 15px;
				display: inline-block;
				vertical-align: top;
				border: none;
				margin: 0 -1px;
				margin-right: 15px;
				width: 98%;
				resize: none;
				font-family: 'Roboto Slab';
				font-size: 13px;
				overflow-y: auto;

				outline: none;
				-webkit-appearance: none;

				height: 90px;
			}
			textarea.unicase {
				text-transform: uppercase;
				font-family: 'Delius Unicase';
				font-size: 14px;
			}
		}
		tbody {
			div {
				display: inline-block;
				cursor: pointer;
				margin: 25px 0px 5px 10px;
			}
		}
	}
}

.rightcontent {
	top: 64px;
	height: 750px;
	right: 0px;
	width: 650px;
	vertical-align: top;
	position: absolute;
	font-size: 16px;

	background: #eeedee;
	color: #333;

	.controls {
		padding: 8px;
		cursor:pointer;

		.control {
			display: inline-block;
			margin-left: 20px;
			margin-right: 40px;
			vertical-align: top;

			h2 {
				font-size: 14px;
			}
			span.number {
				position: relative;
				font-size: 28px;
				top: -5px;
				margin: 2px;
			}
			b {
				font-size: 28px;
				font-weight: 700;
				vertical-align: top;
				position:relative;
				top: -5px;
			}
		}

		.link {
			text-decoration: underline;
			color: #4f9fd1;
			cursor: pointer;
		}
		&:hover{
			background:#F7FAB3;

		}
	}

	.puzzleintro {
		text-align: center;
		margin: 256px 16px;
		opacity: 0.5;
		cursor:default;
	}

	.previewarea {
		margin: 4px;
		bottom: 0px;
		top: 0px;
		padding: 16px;
		max-height: 534px;
		overflow: scroll;

		cursor: pointer;

		&.stationary {

			&.warn {
				background-image: repeating-linear-gradient(-45deg, transparent, transparent 20px, rgba(255, 200, 0, 0.2) 20px, rgba(255,200,0,.2) 45px);
				background-repeat: no-repeat;
				background-position: 0px;

				outline: solid 4px #f1c637a0;
				outline-offset: -4px;	

				&:before {
					display: block;
					width: 220px;
					padding: 20px 25px;
					position: absolute;
					left: 50%;
					top: 300px;
					margin-left: -145px;
					text-align: center;
					font-size: 14px;
					color: #fff;
					z-index: 19;
					background: #f1c637;
					line-height: 20px;
					content: "This puzzle is valid, but may be too big to comfortably play on all devices. Click here to redraw this puzzle or modify the puzzle words so they fit inside the box.";
				}
				&:after {
					content: '';
				}

				#preview {
					width: calc($warn_bound_w * $tile_w);
					height: calc($warn_bound_h * $tile_h);
					box-shadow: 0px 0px 4px 4px #f1c63739;
					background-color: rgba(255, 255, 255, 0.35);
				}
			}

			&.error {
				background-image: repeating-linear-gradient(-45deg, transparent, transparent 20px, rgba(255,0,0,.1) 20px, rgba(255,0,0,.1) 45px);
				background-repeat: no-repeat;
				background-position: 0px;

				outline: solid 4px #f13751a0;
				outline-offset: -4px;	

				&:before {
					display: block;
					width: 220px;
					padding: 20px 25px;
					position: absolute;
					left: 50%;
					top: 300px;
					margin-left: -145px;
					text-align: center;
					font-size: 14px;
					color: #fff;
					z-index: 19;
					background: #f13751;
					line-height: 20px;
				}
				&:after {
					content: '';
				}

				#preview {
					width: calc($error_bound_w * $tile_w);
					height: calc($error_bound_h * $tile_h);
					box-shadow: 0px 0px 4px 4px #f1375039;
					background-color: rgba(255, 255, 255, 0.35);
				}
			}

			&.toobig {
				&:before {
					content: 'This puzzle is too big to be printed correctly. Click here to redraw this puzzle or modify the puzzle words so they fit inside the box.';
				}
			}
			&.unused {
				&:before {
					content: 'The words in red could not be included in the puzzle. Make sure they share common letters with the other words in the puzzle and have at least two characters.';
				}
			}

			&:hover {
				outline: dashed 4px $green_transparent;
				outline-offset: -4px;

				&:before {
					display: block;
					width: 190px;
					padding-top: 15px;
					padding-left: 35px;
					padding-right: 5px;
					padding-bottom: 15px;
					background: $green;
					position: absolute;
					left: 25%;
					top: 15.75%;
					margin-left: -148px;
					content: 'Click to redraw puzzle';
					text-align: center;
					color: #fff;
					z-index: 19;
				}
				&:after {
					content: "\e984";
					font-family: 'icomoon';
					color: #fff;
					font-size: 32px;
					position: absolute;
					left: 18%;
					margin-left: -92px;
					top: 16.75%;
					z-index: 20;
				}
			}

		}
	}

	#preview {
		display: inline-block;
		position: relative;
		top: 10px;
		left: 10px;
		width: 100%;
		height: 530px;
		margin: 0px;
		//border: solid 1px #ccc;

		// background: #eee;

		.letter {
			position: absolute;
			width: 22px;
			height: 20px;
			border: solid 1px #999;
			color: #333;
			padding: 2px;
			font-size: 18px;
			font-family: 'Delius Unicase';
			background: #fff;
			text-align: center;
		}
		.space {
			background: #000;
		}
	}
}


h1 {
	color: #fff;
	font-size: 16px;
}

@font-face {
	font-family: 'icomoon';
	src:url('assets/font/icomoon.eot?-bs3jap');
	src:url('assets/font/icomoon.eot?#iefix-bs3jap') format('embedded-opentype'),
		url('assets/font/icomoon.woff?-bs3jap') format('woff'),
		url('assets/font/icomoon.ttf?-bs3jap') format('truetype'),
		url('assets/font/icomoon.svg?-bs3jap#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 8px;
	cursor: pointer;
}

.scroll-notice {
	visibility: hidden;

	&.scrollwarn {
		visibility: visible;
	}

	position: absolute;
	margin-left: 16px;
	margin-top: 20px;
	font-style: italic;
	opacity: 0.75;
}

.icon-print {
	&:before {
		content: "\e954";
		position: relative;
		float: right;
		margin: 20px 16px;
		opacity: 0.5;
	}
	&:hover:before{
		opacity: 1;
	}
}

.icon-spinner:before {
	content: "\e984";
}
.icon-close {
	opacity: 0.3;
	text-align: center;
	padding: 0px;
	margin: 0px;
	display: inline-block;
	width: 100%;
	height: 45px;
	padding-top: 15px;
	box-sizing: border-box;

	&:hover {
		opacity: 1;
	}
	&:before {
		content: "\ea0f";
	}
}
.icon-plus:before {
	content: "\ea0a";
}

#backgroundcover {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: #000;
	z-index: -1;
	opacity: 0;
	transition: all 0.5s ease;
	&.show {
		z-index: 2000;
		opacity: 0.5;
		transition: opacity 0.5s ease;
	}
}

.box {
	width: 635px;
	left: 50%;
	top: 50%;
	margin-left: -317px;
	margin-top: -210px;
	padding: 15px;
	position: fixed;
	background: #fff;
	border: solid 1px #777;
	z-index: -1;
	opacity: 0;
	transition: all 0.5s ease;

	text-align: left;
	font-weight: 300;
	font-size: 17px;

	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	color: #333;

	img {
		float: right;
		margin-left: 70px;
		margin-top: 5px;
		margin-right: 5px;
	}

	h1 {
		font-size: 30px;
		font-weight: 300;
		color: #333;
		margin: 5px 0px;
	}
	p {
		margin: 24px 0px;
	}
	hr {
		border: none;
		border-bottom: solid 1px #eee;
		margin: 40px 20px;
	}

	&.show {
		z-index: 10000;
		opacity: 1;
	}

	input {
		margin-top: 20px;
		padding: 12px;
		width: 150px;
		background: $green;
		margin-left: 4px;
		color: #fff;
		border: none;
		vertical-align: baseline;
		font-size: 18px;
		font-family: 'Lato';
		font-weight: 300;
		outline: none;

		&[type=text] {
			width: 450px;
			margin-top: 20px;
			border: solid 1px #333;
			font-size: 16px;
			color: #333;
			background: #fff;
			border: solid 2px #70bd34;
			padding: 11px;
			margin-left: 0px;
		}
		&[type=button]:hover, &[type=submit]:hover {
			background: #78DD5E;
			color: #000;
			cursor: pointer;
		}
	}
}

.options {
	width: 500px;
	left: 50%;
	margin-left: -250px;

	input {
		&[type=text] {
			width: 25px;
			padding: 5px 7px;
			border: 1px solid #ccc;
			font-weight: 600;
			font-size: 20px;
			margin: 4px;
			&:hover{
				background: #F7FAB3;
			}
		}
		&[type=button] {
			position: relative;
			left: 35%;
		}
	}
	strong {
		margin-right: 30px;
	}
}

.question_tip {
	position: absolute;
	right: 17px;
	top: 16px;
	padding: 8px;
	border: 2px solid #999;
	border-radius: 50px;
	width: 18px;
	text-align: center;
	opacity: 0.5;
	z-index: 5;

	cursor: pointer;

	font-family: 'Lato';

	transition: all 0.15s ease;

	&:hover {
		opacity: 1;
		border: 4px solid #53a1d1;
		margin: -2px;

		.qtip_box {
			z-index: 999;
			opacity: 1;
			overflow: inherit;
			height: auto;
			width: 255px;
		}
	}

	.qtip_box {
		position: absolute;
		background: #53a1d1;
		border: 2px solid #53a1d1;
		z-index: -5;
		opacity: 0;
		font-size: 14px;
		color: #fff;
		text-align: left;
		height: 0px;
		width: 0px;
		overflow: hidden;
		top: 55px;
		right: -3px;
		padding: 0px 8px;
		font-weight: 300;

		border-radius: 5px;

		b {
			font-weight: 400;
		}

	}

	.qtip_box:after, .qtip_box:before {
		bottom: 100%;
		left: 93.5%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.qtip_box:after {
		border-color: rgba(83, 161, 209, 0);
		border-bottom-color: #53a1d1;
		border-width: 10px;
		margin-left: -10px;
	}

	.qtip_box:before {
		border-color: rgba(58, 29, 1, 0);
		border-bottom-color: #53a1d1;
		border-width: 13px;
		margin-left: -13px;
	}

}

hr {
	border: none;
	border-bottom: solid 1px #ccc;
}

.add {
	width: calc(100% - 650px);
	padding: 30px 0px;
	border-bottom: solid 1px #ddd;
	background: #f0f8ec;

	cursor: pointer;

	color: $green;
	font-size: 13px;

	text-align: center;

	div {
		display: block;
		width: 25px;
		height: 25px;
		padding: 12px;
		border-radius: 60px;
		color: #fff;
		font-size: 22px;
		background: $green;
		margin: 10px auto;
	}
	&:hover{
		background: #F7FAB3;
		div {
			background: #78DD5E;
			color:#000;
		}
	}
}

#specialInput {
	position: fixed;
	left: 10px;
	bottom: 5px;
	z-index: 100;

	transition: height 1s, transform 1s, ease;
	-webkit-transition: height 1s, -webkit-transform 1s, ease;
	-moz-transition: height 1s, -moz-transform 1s, ease;
}

#specialInputHead {
	cursor: pointer;
	color: #ffffff;
	width: 180px;
	height: 25px;
	padding: 0 5px;
	margin: 0;
	font-size: 16px;
	background-color: #333333;
}

#specialInputBody {
	box-sizing: border-box;
	margin: 0;
	padding: 5px;
	background-color: #333333;
	white-space: nowrap;

	overflow-x: auto;
	overflow-y: hidden;

	span {
		cursor: pointer;
		display: inline-block;
		font-size: 18px;
		background-color: #fff;
		padding: 5px;
	}

	span:hover {
		background-color: #AEC4FF;
	}
}

#specialInput.up {
	overflow-x: auto;
	overflow-y: hidden;
	height: 73px;
}

#specialInput.down {
	overflow: hidden;
	height: 28px;
}

#specialInput.down > #specialInputHead::after, #specialInput.up > #specialInputHead::after {
	font-size: 18px;
	display: inline-block;
	position: relative;
	left: 20px;
	color: #ffffff;
}
#specialInput.up > #specialInputHead::after {
	content: '-';
}
#specialInput.down > #specialInputHead::after {
	content: '+';
}

.loading {
	position: absolute;
	padding-top: 200px;
	padding-left: 44%;
	font-size: 13px;
	font-weight: 700;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	background: rgba(0,0,0,0.1);
	display: none;
}

.loading_anim {
	background: url(assets/crossword.png);
	width: 49px;
	height: 50px;
	display: block;
	background-repeat: no-repeat;
	margin: 12px 8px;
	position: absolute;

	&.a1 {
		background-position: 0px;
		animation: loading1 0.4s infinite;
	}

	&.a2 {
		background-position: -98px;
		animation: loading2 0.4s infinite;
	}

	&.a3 {
		background-position: -49px;
		animation: loading3 0.4s infinite;
	}
}

.loading2, .loading3 {
	opacity:0;
}

@keyframes loading1 {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes loading2 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes loading3 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.arrow_box {
	right: -250px;
	position: absolute;
	top: 50px;
	background: #9c52a4;
	border: 2px solid #9c52a4;
	width: 140px;
	height: 16px;
	z-index: 10;
	padding: 24px;
	color: #fff;
	text-align: center;
	cursor:default;
	animation: pounce 1.5s infinite;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box:after {
	border-color: rgba(156, 82, 164, 0);
	border-right-color: #9c52a4;
	border-width: 55px;
	margin-top: -55px;
}
.arrow_box:before {
	border-color: rgba(156, 82, 164, 0);
	border-right-color: #9c52a4;
	border-width: 58px;
	margin-top: -58px;
}

@keyframes pounce {
	0% {
		transform: translate(0px, 0px);
	}
	50% {
		transform: translate(20px, 0px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
