$green:#5BAC58;
$lightgreen:#6BBC68;
$darkblue: #5163A6;

// adjust this to change size of clue box
$clue_width: calc(max(25vw, 200px));
$mobile_w_break: 600px;

/* Standardize padding in all browsers */
* {
	outline: 0;
	padding: 0px;
	margin: 0px;
}

@font-face {
	font-family: 'icomoon';
	src:url('assets/font/icomoon.eot?-jn78cs');
	src:url('assets/font/icomoon.eot?#iefix-jn78cs') format('embedded-opentype'),
		url('assets/font/icomoon.woff?-jn78cs') format('woff'),
		url('assets/font/icomoon.ttf?-jn78cs') format('truetype'),
		url('assets/font/icomoon.svg?-jn78cs#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-tutorial:before {
	content: "\ea09";
}
.icon-keyboard:before {
	content: "\e955";
}
.icon-print:before {
	content: "\e954";
}
.icon-zoomin:after {
	content: "\e987";
}
.icon-zoomout:after {
	content: "\e988";
}
.icon-center:before {
	content: "\e987";
}

html, body {
	width: 100%;
	height: 100%;
	
	background: #eeedee;
	padding: 0;
	margin: 0;

	overflow: hidden;

	cursor: default;

	font-family: 'Roboto Slab', serif;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.application {
	position: relative;
	width: 100%;
	height: 100%;

	input {
		position: relative;
		margin: 8px 0px;
		border: solid 1px #333;
		color: #333;
		background: #fff;

		font-family: 'Roboto Slab';
		font-size: 14px;
		
		transition: all 0.1s ease;
		-moz-transition: all 0.1s ease;
		-webkit-transition: all 0.1s ease;
		-webkit-appearance: none;
	}
	
	button {
		display: inline-block;

		color: #fff;
		border: solid 2px rgba(0,0,0,0);
		cursor: pointer;

		&:focus {
			border: solid 2px #fff;
			border-radius: 2px;
		}
	
		&.removed{
			display: none;
		}
	
		&.disabled{
			opacity: 0.5;
			cursor: default !important;
		}
	
		&.hidden {
			opacity: 0;
			cursor: default;
		}
	
		&.submit{
			background: $green;
			font-family: 'Roboto Slab', sans-serif;
		}
	
		&.cancel{
			background: white;
			color:#333;
		}
	}

	.assistive-element {
		display: none;
	}

	.header {
		display: block;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		top: 0;
		z-index: 5;
		width: 100%;
		height: 60px;
		background: #333333;
		color: #fff;
	
		border-bottom: solid 1px #333;
	
		.logo {
			display: block;
			background: url(assets/materialogo.png) no-repeat;
			width: 60px;
			height: 50px;
			margin-left: 17px;
			margin-top: 16px;
		}
	
		h1 {
			line-height: 65px;
			flex-grow: 2;
			// width: 77%;
			height: 60px;
			margin: 0 0 0 24px;
			padding: 0;
			overflow: hidden;
			font-size: 28px;
			font-family: 'Roboto Slab';
			font-weight: 300;
			span {
				display: inline-block;
				line-height: normal;
				vertical-align: middle;
			}
		}

		button.submit {
			align-self: center;
			padding: 5px 10px;
			margin-right: 24px;
		}

		
	}

	#widget-header {
		position: absolute;
	}

	#options {
		position: relative;
		top: 60px;
		.icon-tutorial, .icon-keyboard, .icon-print, .icon-zoomin, .icon-zoomout, .icon-center {
			position: absolute;
			right: calc($clue_width + 4px);
			z-index: 100;
			
			color: #999;

			font-family: 'icomoon';
			font-size: 20px;
			// speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			transition: color 0.2s ease;
	
			cursor: pointer;
	
			&:hover {
				color: #444;
			}

			&:focus {
				color: #000;
				// border: solid 1px #5163A6;
			}

			#focus-text {
				font-family: 'Roboto Slab';
				font-size: 12px;
				position: relative;
				bottom: 4px;
				right: -4px;
			}
		}
		.icon-tutorial {
			top: 10px;
		}
		.icon-keyboard {
			top: 40px;
		}
		.icon-print {
			top: 70px;	
		}
		.icon-center {
			top: 100px;
		}
		.icon-zoomout, .icon-zoomin {
			top: 100px;
		}
	}

	#board {
		// position: fixed;
		display: block;

		width: 100%;
		height: calc(100% - 61px);
	
		// max-height: 592;
		// max-width: 715;
	
		overflow: hidden;

		#movable-container {
			position: fixed;
			top: 70px;
			left: 10px;
			right: calc($clue_width + 10px);
			bottom: 10px;
			// border: solid;
			// border-color: #000;
		}

		.crossword-board {
			width: 100%;
			height: 100%;
			// outline: dashed;
			// outline-offset: 8px;
			// outline-color: #47C342;

			&:focus {
				background: rgba(255,255,255,0.5);
				// &:before {
				// 	position: absolute;
				// 	z-index: 200;
				// 	content: 'Board is focused.';
				// 	left: 50%;
				// 	bottom: 10%;
				// }
			}

			.letter {
				position: absolute;
				border: solid 1px #999;
				border-radius: 0;
				width: 26px;
				height: 22px;
				padding-left: 0px;
				font-size: 19px;
				font-family: 'Delius Unicase';
				text-align: center;
				background: #FFF;
			
				margin: 0;
			
				color: transparent;
				text-shadow: 0 0 0 black;
			
				&.locked {
					background: #E3E4E4;
					&.focus {
						background: #838B96;
					}
					&.highlight:not(.focus) {
						background: #CED4DA;
					}
				}
			
				&.highlight {
					border: solid 1px #6E7DA3;
					background: #E5F3FF;
				}
			
				&.focus {
					background: #AECEFF;
				}
			}
		}

	}

	#clues {
		display: block;
		position: absolute;
		z-index: 5;
		overflow: auto;
		right: 0px;
		top: 61px;
		bottom: 28px;
		width: $clue_width;
		
		padding: 0 0 20px 0;

		background: #fff;
		border-left: solid 1px #999;
	
		.clue{
			font-size: 14px;
			padding: 7px;
			margin: 0px;
			transition: all 0.1s ease;
			-moz-transition: all 0.1s ease;
			-webkit-transition: all 0.1s ease;
			overflow-x: auto;
			em {
				opacity: 0.5;
			}
			strong {
				text-align: center;
				display: inline-block;
				width: 100%;
				font-size: 20px;
				margin-bottom: 10px;
			}
	
			.clue-text {
				display: block;
			}
	
			.hintspot {
				opacity: 0;
				display: block;
				transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-webkit-transition: all 0.5s ease;
				font-style: italic;
			}
	
			&:nth-child(even) {
				background: #eeeeee;
			}
	
			&.highlight{
				background: #5163A6;
				color: #fff;
				.button{
					background:$green;
					border-color:$green;
					cursor: pointer;
					
					&:hover {
						background: $lightgreen;
						border-color:$lightgreen;
					}
	
					&:focus {
						border-color: #fff;
					}
				}
			}

			.button {
				position: relative;
				color: #fff;
				margin: 10px 0px;
				margin-right: 4px;
				padding: 4px 8px;
				display: inline-block;
				background: #C5C5C5;
				border: solid 2px rgba(0,0,0,0);
				cursor: pointer;

				&:focus {
					border: solid 2px #666;
				}
			}
		}
	
	}

	#specialInput {
		position: absolute;
		left: 10px;
		bottom: 0px;
		z-index: 100;
	
		transition: height 1s, transform 1s, ease;
		-webkit-transition: height 1s, -webkit-transform 1s, ease;
		-moz-transition: height 1s, -moz-transform 1s, ease;

		&.up {
			overflow-x: auto;
			overflow-y: hidden;
			height: 85px;
		}

		&.down {
			overflow: hidden;
			height: 25px;
		}

		#specialInputHead {
			cursor: pointer;
			color: #ffffff;
			width: 180px;
			height: 25px;
			padding: 0 5px;
			margin: 0;
			font-size: 16px;
			background-color: #333333;

			&:hover {
				background-color: $darkblue;
			}

			&:focus {
				background-color: $darkblue;
			}
		}

		#specialInputBody {
			box-sizing: border-box;
			height: 60px;
			max-width: calc(100vw - $clue_width - 20px);
			margin: 0;
			padding: 5px;
			background-color: #333333;
			white-space: nowrap;
		
			overflow-x: auto;
			overflow-y: hidden;
		
			li {
				cursor: pointer;
				display: inline-block;
				font-size: 18px;
				background-color: #fff;
				padding: 5px;

				&:hover, &:focus, &.focus {
					background-color: #AEC4FF;
				}
			}
		}
	}	
}

input, button {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 14px;

	border: solid 2px rgba(0,0,0,0);

	cursor: pointer;

	&.action-button {
		background: $green;
		border-color: $green;

		color: #fff;

		&:hover {
			background: $lightgreen;
			border-color: $lightgreen;
		}

		&:focus {
			border: solid 2px $darkblue;
		}
	}
}

@keyframes glow {
	0% {
		box-shadow: none;
		background: $green;
	}
	50% {
		box-shadow: 0 0 10px #1D421C,0 0 35px #47C342;
		background: $lightgreen;
	}
	100% {
		box-shadow: none;
		background: $green;
	}
}

#movable {
	position: absolute;
	-webkit-transition: -webkit-transform 1s ease;
	-moz-transition: -moz-transform 1s ease;
	transition: transform 1s ease;
	transform-origin: 0 0;


	&.animateall {
		transition-property: left, top, transform;
	}
}

.numberlabel {
	color: #333;
	font-size: 10px;
	position: absolute;
	pointer-events: none;
	display: block;
	width: 25px;
	margin: 0px;
	margin-top:9px;
	z-index: 1;
	text-align: right;
}

#backgroundcover {
	display: flex;
	flex-direction: column;
	justify-content: center;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;

	max-height: 592;
	max-width: 715;

	background: rgba(0, 0, 0, 0.5);

	pointer-events: none;
	opacity: 0;

	&.show {
		opacity: 1;
		pointer-events: all;
	}
}

#alertbox, #tutorialbox, #introbox {
	display: none;
	margin: 0 auto;
	min-width: 300px;
	max-width: 500px;
	padding: 15px;
	background: #fff;
	border: solid 2px #999;
	border-radius: 3px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	text-align: center;

	&.show {
		display: block;
	}

	&:focus {
		border-color: #5163A6;
	}

	header {
		text-align: center;
		margin-bottom: 1em;
		font-weight: bold;
	}

	#introcaption, #tutorialcaption {
		text-align: left;
		line-height: 1.5em;
	}

	p {
		margin-bottom: 0.5em;
	}

	span.bold {
		font-weight: bold;
	}

	button {
		margin: 20px 10px 10px;
		padding: 8px;

		border: solid 2px rgba(0,0,0,0);

		&.cancel {
			
			padding: 0px;

			background: none;
			border: none;
			border-bottom: 1px solid #C4C4C4;

			&:hover {
				border-bottom: 2px solid #000;
			}

			&:focus {
				border-bottom: solid 2px $darkblue;
			}
		}

		&.action-button:focus {
				border: solid 2px $darkblue;
		}
	}
}
@keyframes secondimg {
	40% {
		opacity: 0;
	}
	45% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes thirdimg {
	67% {
		opacity: 0;
	}
	72% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

#introbox {
	width: 500px;

	div.content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 16px;

		margin: 25px 0 40px 0;
	}

	.image-frame {
		position: relative;
		flex-shrink: 0;
		width: 186px;
		height: 126px;

		border: solid 2px #c5c5c5;

		img {
			position: absolute;
			top: 3px;
			right: 3px;
			width: 180px;
			height: 120px;
		}

		#preview-img-1 {
			// animation: firstimg 8s infinite;
			opacity: 1;
		}
		#preview-img-2 {
			animation: secondimg 8s infinite;
			opacity: 0;
		}
		#preview-img-3 {
			animation: thirdimg 8s infinite;
			opacity: 0;
		}
	}

}

.fade {
	-webkit-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
}

.arrow_box {
	position: absolute;
	display: none;
	background: #ffff82;
	color: #333;
	right: 185px;
	top: 15px;
	padding: 5px 20px;
	font-size: 14px;
	animation: arrowbob 1s infinite;
	z-index: 10;
}
@keyframes arrowbob {
	0% {
		transform: translate(0, 0);
	}
	60% {
		transform: translate(15px, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}
.arrow_box:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #ffff82;
	border-width: 14px;
	margin-top: -15px;
}

#controlbar {
	background: #333333;
	position: fixed;
	right: 0;
	bottom: 0;
	font-size: 14px;
	margin-top: 5px;

	text-align: center;

	color: #fff;

	width: calc($clue_width + 1px);
	padding: 5px 0;

	z-index: 10;
}

.submitholder {
	position: absolute;
	right: 0px;
	top: 8px;
	text-align: center;
	display: inline-block;
	margin-right: 20px;
}

.reader-instructions {
	position: absolute;
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.invisible-until-focused {
	opacity: 0;
	position: absolute;
	right: 50%;
	top: 70px;
	text-align: center;
	pointer-events: none;
	display: block;
}
.invisible-until-focused:focus {
	opacity: 1;
}

// MOBILE SETTINGS

#hint-splitter {
	display: flex;
	flex-direction: row;

	width: 100%;
	justify-content: space-between;
}

#nav-div {
	visibility: hidden;
	width: 0px;
	height: 0px;
}

@media (width < $mobile_w_break) {
	#controlbar {
		width: 100%;	
	}

	#nav-div {
		visibility: visible;
		width: fit-content;
	}

	.application {
		#specialInput {
			bottom: 32px;
			
			#specialInputBody {
				max-width: calc(100vw - 20px);
			}
		}
		
		#clues {
			width: 100%;
			max-height: 200px;
			overflow-y: hidden;
			padding: 0px;
			padding-top: 7px;
			padding-bottom: 7px;
			.clue {
				transition: all 0s ease;
				-moz-transition: all 0s ease;
				-webkit-transition: all 0s ease;
			}
		}

		#board {
			height: calc(100% - 90px);
			#movable-container {
				right: 10px;
			}
		}

		#options {
			top: calc(100vh - 180px);
			.icon-tutorial, .icon-keyboard, .icon-print, .icon-zoomin, .icon-zoomout, .icon-center {
				right: 4px;
			}

			.icon-zoomin, .icon-zoomout {
				visibility: hidden;
			}
		}
	}

	#alertbox, #tutorialbox, #introbox {
		min-width: 300px;
		max-width: calc(90vw);
	}
}
